/*This file includes styling for projects-related elements*/

#projects {
  margin:30px;
}

#project-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;  
  align-items: stretch;
}

.project-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 1px solid var(--border-color);
  background-color: var(--box-color);
  border-radius: 8px;
  padding: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.project-card img {

  border-radius: 5px;
  object-fit: contain;
  height: 40%;

}

.project-card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.filter-btn.active {
  background-color: var(--accent-color);
  color: var(--accent-color-two);
}


.filter-btn {
  background-color: var(--box-color);
  color: var(--text-color);
    border: 0px solid var(--border-color);
     border-radius: 8px;

}


.project-card {
  width: 300px;
  border: 1px solid var(--border-color);
  background-color: var(--box-color);
  border-radius: 8px;
  padding: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-view-project {
  display: block;

    padding: 10px;
    text-decoration: none;
    border: 1px solid var(--border-color);
    background-color: var(--accent-color);
    color: var(--accent-color-two);
    border-radius: 5px;

    margin-bottom: 10px;
    text-align: center;
      margin-top: auto;

}

