/*light theme*/
body {
  --bg-color: #f8f8f8;
    --box-color: #ffffff;  
  --text-color: #000000;
  --accent-color: #9c6f9caf;
    --accent-color-two: #fff;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}

/*dark theme */
body.dark-theme {
  --bg-color: #121212cc;
  --text-color: #f0f0f0;
  --box-color: #7f7f7f;
  --accent-color: #1757b1;
    --accent-color-two: #fff;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/*green theme */
body.blue-theme {
  --bg-color: #c9e2cd;
  --text-color: #340758;
  --box-color:  #ffffff;  
  --accent-color: #7da183;
  --accent-color-two: #fff;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Buttons inherit accent-color */
.theme-btn {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  margin-top: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--accent-color-two);
  transition: all 0.3s ease;
}

.theme-btn.active {
  outline: 2px solid #000;
}

.theme-switcher {
  margin: 30px;
}